h1 {
    font-family: FancyTitleFont;
}
h2 {
    font-family: FancyTitleFont;
}
h3 {
    font-family: FancyTitleFont;
}
h4 {
    font-family: FancyTitleFont;
}
h5 {
    font-family: FancyTitleFont;
}
div {
    font-family: Noto Serif CJK SC;
}
p {
    font-family: Noto Serif CJK SC;
}
