.timeline {
    position: relative;
    margin: 0 auto; }
    .timeline::after {
      content: "";
      position: absolute;
      width: 6px;
      background-color: #444;
      top: 0;
      bottom: 0;
      left: calc(80px + 0.5*60px - 0.5*20px); }
    .timeline .container {
      margin-bottom: 0px;
      position: relative;
      width: calc(100% - 80px - 60px);
      margin-left: calc(80px + 60px); }
      .timeline .container::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        left: calc(-0.5 * 60px - 0.5 * 25px - 6px);
        background-color: #FFF;
        border: 6px solid #444;
        top: 0px;
        border-radius: 50%;
        z-index: 1; }
      .timeline .container .date {
        position: absolute;
        width: 80px;
        top: 22px;
        z-index: 1;
        left: calc(-1 * (80px + 60px));
        font-size: large;
        line-height: 1.0em;
        text-align: end;
        margin: 0px; }
    .timeline .content {
      border: 2px solid #444;
      background-color: #FFF;
      position: relative;
      border-radius: 6px;
      transition: box-shadow 0.3s; }
      .timeline .content:hover {
        box-shadow: 0 0 3px 3px #004; }
      .timeline .content .title {
        padding: 5px 30px;
        font-weight: bold;
        display: inline-block; }
      .timeline .content .duration {
        margin: 0;
        color: #000;
        opacity: 0.6;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) rotate(-90deg);
        transform-origin: 50% 100%;
        width: auto;
        transition: opacity calc(0.5 * 0.3s);
        transition-delay: calc(0.5 * 0.3s); }
      .timeline .content.collapsed .duration {
        opacity: 0.0;
        transition-delay: 0.0s; }
      .timeline .content .body {
        margin: 0px;
        padding: 5px 30px;
        transition-property: max-height, padding;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        overflow: hidden; }
      .timeline .content.collapsed .body {
        padding-top: 0px;
        padding-bottom: 0px;
        max-height: 0px; }
  